# Jupyter checkpoints
**/.ipynb_checkpoints/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# Temp directories
temp/

# OS / editor files
.DS_Store
Thumbs.db

# Byte-compiled notebooks
*.ipynb_checkpoints

# Python environment files
Pipfile
Pipfile.lock